div {
  margin-top: 40px;
  margin-bottom: 40px;
}
.form_container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
div.form_container {
  margin-top: 5px;
}
.form_field {
  margin-left: 20px;
}
.error_label {
  color: red;
  font-size: smaller;
}

/* Basic styling */
.form {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.settings {
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  margin-bottom: 15px;
}




