<div class="request_container">
  <form class="form_field">
    Root type: <br>
    <input id="user" type="radio" name="type" value="User" [defaultValue]="true" [(ngModel)]="type">
    <label for="user">User</label><br>
    <input id="repo" type="radio" name="type" value="Repository" [defaultValue]="false" [(ngModel)]="type">
    <label for="repo">Repository</label>
  </form>
  <form class="form_field">
    <label for="root_name">Root name:</label> <br>
    <input type="text" id="root_name" [defaultValue]="'ArtInLines'" name="root_name" [(ngModel)]="root_name">
  </form>
  <form class="form_field">
    <label for="max_distance">Maximum distance:</label><br>
    <input type="number" id="max_distance" [defaultValue]="1" name="max_distance" [(ngModel)]="max_distance">
  </form>
  <form class="form_field">
    <input type="submit" value="Generate graph!" (click)="requestData()">
  </form>
</div>

<app-network [id]="network_graph"></app-network>
