<div>
  <b>Get network graph:</b><br>
  <div class="form_container">
    <form class="form_field">
      Root type: <br>
      <input id="root_user" type="radio" name="type" value="User" [defaultValue]="true" [(ngModel)]="root_type">
      <label for="root_user">User</label><br>
      <input id="root_repo" type="radio" name="type" value="Repository" [defaultValue]="false" [(ngModel)]="root_type">
      <label for="root_repo">Repository</label>
    </form>
    <form class="form_field">
      <label for="root_name">Root name:</label> <br>
      <input type="text" id="root_name" [defaultValue]="'ArtInLines'" name="root_name" [(ngModel)]="root_name">
    </form>
    <form class="form_field">
      <label for="max_distance">Maximum distance:</label><br>
      <input type="number" id="max_distance" [defaultValue]="1" name="max_distance" [(ngModel)]="max_distance">
    </form>
    <form class="form_field">
      <input type="submit" value="Generate graph!" (click)="requestData()">
    </form>
  </div>
</div>

<div>
  <b>Highlight shortest path:</b><br>
  <div class="form_container">
    <form class="form_field">
      Destination type: <br>
      <input id="dest_user" type="radio" name="type" value="User" [defaultValue]="true" [(ngModel)]="dest_type">
      <label for="dest_user">User</label><br>
      <input id="dest_repo" type="radio" name="type" value="Repository" [defaultValue]="false" [(ngModel)]="dest_type">
      <label for="dest_repo">Repository</label>
    </form>
    <form class="form_field">
      <label for="dest_name">Destination name:</label> <br>
      <input type="text" id="dest_name" [defaultValue]="'torvalds'" name="dest_name" [(ngModel)]="dest_name">
    </form>
    <form class="form_field">
      <input type="submit" value="Show path!" (click)="getShortestPath()">
    </form>
  </div>
</div>

<app-network [id]="network_graph"></app-network>
